<%- include("header") -%>
<h2>This the about page.</h2>
<p>sfadsfdsafgassfadsfdsafgassfadsfdsafgassfadsfdsafgassfadsfdsafgassfadsfdsafgassfadsfdsafgassfadsfdsafgassfadsfdsafgassfadsfdsafgassfadsfdsafgassfadsfdsafgas</p>
<%- include("footer") -%>