body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    width: 30%;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2{
    font-family: 'Montserrat', sans-serif;
}

h3{
    font-family: 'Montserrat', sans-serif;
}

div{
    background-color: #DBE2EF;

}


.topContainer{
    background-color: #DBE2EF;
    position: relative;
    padding-top: 100px;
}

.middleContainer{
    height: 200px;
    width: 200px;
    background-color: orange;

}

.buttonContainer{
    height: 200px;
    width: 200px;
    background-color: green;

}

.softwareEngineer{
text-decoration: underline;

}

.top-cloud{
    position:absolute;
    right: 300px;
    top: 50px;
}

.button-cloud {
    position:absolute;
    left: 300px;
    bottom: 300px;
}