#title{
    background-color: #141E61;
}

.lightTitle{
    color: #EEEEEE;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
    margin: auto ;
}

.titleImage{
    width: 100%;
}

.navbar{
    min-height:50px;
}